*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100%;
  height: 99vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.form-container {
  width: 40%;
  padding: 10px 0;
  overflow: hidden;
  margin-bottom: 90px;
}
.title {
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter, sans-serif'
  
}
.title h2{
  color: #081C15;
  font-size: large;
}
.form-heading{
  margin-top: 5px;
  margin-bottom: 20px;
  
}
.major-heading{
    margin: auto 95px;
    font-size:larger;
    color: #101828;
}
.first-paragraph{
  width: 380px;
  font-weight: 300;
  color: #101828;
  font-size: 0.7rem;
  color: #98A2B3;
  text-align: center;
  padding-right: 50px;
  padding-left: 20px;
  
}
.logo-image {
  padding-right: 10px;
  width: 45px;
  height: auto;
}
form {
  padding-top: 2em;
  margin: 0 auto;
  width: 395px;
  min-width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/** Come back to this **/
.form-heading p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}
fieldset {
  border: none;
  padding: 0.5rem 0;
  width: 90%;
  padding-left: 25px;
}
input {
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2em;
  border-radius: 5px;
  border: 1px solid #d0d5dd;
  
}
input[type="submit"] {
  display: block;
  width: 100%;
  background-color: #2d6a4f;
  min-height: 2.5rem;
  color: #ffffff;
  border-radius: 7px;
  min-width: 100px;
  margin-top: 20px ;
  font-size: x-small;
  letter-spacing: 0.5px;
}
.input-field {
  padding-left: 10px;
  min-height: 2rem;
}
.input-field::placeholder {
  font-size: 12px;
  color: #d0d5dd;
  font-weight: 300;
}
.footer {
  font-size: x-small;
  margin: 20px;
  color: #98A2B3;
  font-weight: 400;
  padding-left: 100px;
}
a {
  color: #2d6a4f;
}